html {
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    font-style: bold;
}

body{
    background-color: rgba(12, 28, 39);

}

main{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0.473);
    text-align: center;
   
}


h1{
    font-size: 2em;
    color: rgb(1, 7, 63);
}

h2{
    font-size: 1.5em;
    color: rgb(1, 7, 63);
}

iframe{
    
    width: 100%;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(1, 7, 63);
}


format{
    width: 25%;
}

h3{
    text-decoration: underline;
    text-align: center;
}

footer{
    font-size: 16px;
    color: rgb(108, 108, 255);
}
footer .link{
    color: rgb(196, 196, 255);
}

.voltar img{
    width: 50px;
    height: 50px;
}

button{
    font-style: bold;
    background-image: none;
    border-style: none;
    border-color: antiquewhite;
    border-style: none;
}

@media (max-width: 1024px){

    header{
        text-align: center;
    }
    article{
        height: 100%;
        width: 90%;
        text-align: center;
    }

    main{
        background-color: white;
        width: 90%;
        margin: auto;
        padding: 10px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0.473);
    }

     img .comercial{
        padding-left: 25%;
    }

    iframe{
        height: 50%;
        width: 100%;
    }
}

@media (max-width: 650px){

    header{
        text-align: center;
    }
    body {
        background-color: rgb(4, 5, 34);

    }

    article{
        width: 100%;
        text-align: center;
    }
    main{
        background-color: white;
        width: 90%;
        margin: auto;
        padding: 10px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0.473);
    }

     img .comercial{
        padding-left: 25%;
    }

    iframe{
        height: 50%;
        width: 100%;
    }
}